body {

    margin: 0;
}

.nav-menu, .nav {
    display: none;
}

.hamburger {
    border: none;
    background: transparent;
}

i {
    color: white;
}

.program-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    background-color: #dad8d824;
    margin: 2px;
    padding-bottom: 0;
}

.program-grid > i > img {
    width: 40px;
    margin-bottom: 12px;
}

.program-grid header {
    color: #ff5438;
}


@media (min-width: 768px) {
    .nav {
        display: flex;
        justify-content: end;
        flex-direction: row-reverse;
        background: #3e3e3e;
        padding: 5px;
        padding-right: 150px;
        gap: 20px;
    }

    .nav a {
        color: white;
        padding: 2px;
        text-decoration: none;
        font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
    }

    .nav-menu {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .nav-menu > div{
        display: flex;
        gap: 40px;
    }

    .nav-menu > div > a {
        text-decoration: none;
    }

    .headline {
        display: flex;
        flex-direction: column;
        background-image: url("./images/headline-bg.png");
        background-size: 100%;
        background-repeat: no-repeat;
        width: auto;
        height: 80%;
        padding: 70px 0 0 160px;
        font-family: 'Lato', sans-serif;
    }

    .headline-text, .headline-quote, .headline-topic {
        width: 50vw;
    }

    .headline-quote {
        font-size: 20px;
        color: #e55656fc;
    }

    .headline-topic {
        color: #ff1414;
        font-size: 50px;
        margin-top: 12px;
        margin-bottom: 0;
    }

    .headline-text {
        border: 4px solid white;
        font-size: 22px;
        padding: 15px 10px;
        line-height: 20px;
        gap: 15px;
        background-color: #F8F8F8;
    }

    .venue-time {
        padding-left: 10px;
    }

    .venue-time p {
        font-weight: bolder;
        font-size: 20px;
        line-height: 5px;
    }

    .main-program {
        display: flex;
        flex-direction: column;
        background-image: url("./images/pattern_bg.png");
        background-repeat: repeat;
        padding: 70px 50px;
        font-family: 'Lato', sans-serif;
        background-color: #282B32;
        height: 45%;
        align-items: center;
        color: white;
    }

    .main-program h2 {
        font-weight: lighter;
        font-size: large;
        margin: 0;
    }

    .main-program h3 {
        font-weight: lighter;
        font-size: 12px;
        margin-top: 50px;
    }

    .red-line {
        width: 20px;
        border: 0.1px solid red;
        margin-bottom: 30px;
    }

    .main-program-comp {
        display: flex;
    }

    .program-grid {
        display: flex;
    }

    .program-grid p {
        font-size: 11px;
        text-align: center;
        width: 135px;
        line-height: 20px;
    }

    .white-line {
        width: 157px;
        border: 0.1px solid white;
        margin: 0;
    }

    .featured-speakers {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .featured-speakers h2 {
        margin: 0;

    }

    .speakers {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .mobile {
        display: none;
    }
}